.other-profile {
  display: flex;
}

.profile-container {
  width: 600px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .profile-container {
    width: 100%;
  }
}
