.home-sidebar {
  margin: 70px 0 0 20px;
  width: 280px;
}

.home-sidebar a {
  text-decoration: none;
  color: #fff;
}

.home-sidebar div {
  display: flex;
  margin: 10px 0;
  cursor: pointer;
  padding: 10px;
}

.home-sidebar div:hover {
  background-color: #353535c2;
  border-radius: 20px;
  padding: 10px;
}

.home-sidebar div .icon {
  font-size: 1.3rem;
  margin-right: 10px;
}

.home-sidebar button {
  background-color: #fff;
  border: none;
  border-radius: 25px;
  color: #000;
  width: 80%;
  padding: 10px 10px;
  font-size: 1.1rem;
}

.home-sidebar button:hover {
  background-color: #fcfbfbc2;
  cursor: pointer;
}

@media screen and (max-width: 898px) {
  .home-sidebar {
    width: 50px;
  }

  .home-sidebar p {
    display: none;
  }

  .home-sidebar button {
    display: none;
  }
}

@media screen and (max-width: 667px) {
  .home-sidebar {
    width: 0;
    margin: 70px 0 0 0;
  }
}
