@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

body {
  font-family: "Noto Sans", sans-serif;
}

body.white-background {
  background-color: white;
  color: black;
}

body.default-background {
  background-color: black;
  color: white;
}

.app-container {
  width: 100%; /* Full width on mobile */
  /* Some padding around the edges on mobile */

  display: flex;
  flex-direction: column; /* Content stacks vertically on mobile */
}

.main-content {
  width: 100%;
}
